FACE_SERVICE_TOKEN=
FACE_SERVICE_YUNET_MODEL_PATH=models/face_detection_yunet_2023mar.onnx
FACE_SERVICE_SFACE_MODEL_PATH=models/face_recognition_sface_2021dec.onnx
FACE_SERVICE_DETECTOR_SCORE_THRESHOLD=0.9
FACE_SERVICE_MAX_IMAGE_SIDE=1280
FACE_SERVICE_LOG_LEVEL=INFO
FACE_SERVICE_MAX_UPLOAD_BYTES=5242880
FACE_SERVICE_TEMPLATE_VERSION=opencv-yunet-sface-v1
